# Node
node_modules/
npm-debug.log
yarn-error.log

# Backend
/backend/.env
/backend/node_modules
/backend/dist

# Frontend
/frontend/node_modules
/frontend/build
/frontend/.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
logs/
*.log
